<div class="admin-nav">
  <div class="admin-nav__item">
    <a href="/admin/video/list">Видео</a>
  </div>
  <div class="admin-nav__item">
    <a href="/admin/category/list">Категории</a>
  </div>
</div>
