<div class="video-block">
  <% _.each(videos, function (item) { %>
    <a class="video-block__item" href="/video/<%= item.id %>">
      <img src="<%= item.img_url %>" />
      <div class="video-block__title"><span><%= item.name %></span></div>
    </a>
  <% }) %>
</div>
