<div class="video-block">
  <div class="video-block__item">
    <img src="https://dummyimage.com/240x240/000/fff.jpg"/>
    <div class="video-block__title">Заголовок видео</div>
  </div>
  <div class="video-block__item">
    <img src="https://dummyimage.com/240x240/000/fff.jpg"/>
    <div class="video-block__title">Заголовок видео</div>
  </div>
  <div class="video-block__item">
    <img src="https://dummyimage.com/240x240/000/fff.jpg"/>
    <div class="video-block__title">Заголовок видео</div>
  </div>
  <div class="video-block__item">
    <img src="https://dummyimage.com/240x240/000/fff.jpg"/>
    <div class="video-block__title">Заголовок видео</div>
  </div>
  <div class="video-block__item">
    <img src="https://dummyimage.com/240x240/000/fff.jpg"/>
    <div class="video-block__title">Заголовок видео</div>
  </div>
  <div class="video-block__item">
    <img src="https://dummyimage.com/240x240/000/fff.jpg"/>
    <div class="video-block__title">Заголовок видео</div>
  </div>

</div>
