<% _.defaults(item, {
      name : '',
      description : '',
      url : ''
  }) %>
<form class="default-form"  name="add_category" method="post" action="">
  <legend><%= title %></legend>
  <div class="default-form__content">
    <div class="block-row">
      <label>Название категории</label>
      <input name="name" type="text" value="<%= item.name %>"/>
    </div>
    <div class="block-row">
      <label>Описание категории</label>
      <textarea name="description"><%= item.description%></textarea>
    </div>
    <div class="block-row">
      <label>URL</label>
      <input type="text" name="url"  value="<%= item.url%>"/>
    </div>
    <div class="block-row">
      <input type="submit" value="Сохранить"/>
    </div>
  </div>

</form>
