<h3 class="small-title">Список категорий</h3>
<a class="" href="/admin/category/add">Добавить категорию</a>

<br/>

<div class="video-list">
  <%
  _.each(items, (item) => {       %>

  <div class="video-list__item"><%= item.id%>
    <%= item.name%>
    <a href="/admin/category/edit/<%= item.id %>">Редактировать</a>
    <a href="/admin/category/delete/<%= item.id %>">Удалить</a>
  </div>
  <% })
 %>
</div>
