<h3 class="small-title">Список видео</h3>
<a class="" href="/admin/video/add">Добавить видео</a>

<br/>

<div class="video-list">
  <%
  _.each(items, (item) => {       %>

  <div class="video-list__item"><%= item.id%>
    <%= item.name%>
    <a href="/admin/video/edit/<%= item.id %>">Редактировать</a>
    <a href="/admin/video/delete/<%= item.id %>">Удалить</a>
  </div>
  <% })
 %>
</div>
