html, body {
  margin: 0;
  padding: 0; }

.main-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }

.video-block {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 20px 0; }
  .video-block__item {
    margin: 10px 0; }
  .video-block__title {
    margin: 10px 0 0 0;
    font: 20px/22px "Open Sans", Arial, sans-serif;
    text-align: center; }
